.menu-bar {
    -fx-background-color: #8B4C00;
}

.left-panel {
    -fx-background-color: #B77B2F;
    -fx-padding: 20;
    -fx-alignment: top-center;
}

.right-panel {
    -fx-background-color: #7CFC00;
    -fx-padding: 20;
    -fx-spacing: 10;
}

.button {
    -fx-background-radius: 10;
    -fx-font-size: 14px;
}

.right-panel .button {
    -fx-max-width: infinity;
}